.h-1{
    font-weight: 600;
    font-size: 22px;
    margin: 5vh auto 2vh;
}

.h-2{
    font-size: 18px;
    color: #515151;
}

.input-container{
    gap: 22px;
    flex-direction: column;
    display: flex;
    margin: 9vh auto;
}

.form-que{
    margin: auto;
    width: 75vw;
    justify-content: space-between;
}

.ques{
    font-weight: 700;
    font-size: 24px;

}

.ans{
    width: 50%;
}

input{
    font-weight: 500;
    font-size: 21px;
    border: none;
    outline: none;
    padding: 9px;
    border-radius: 3px;
    width: 39%;
}

.ques-container{
    border-radius: 3px;
    padding: 22px;
    background: #004e88;
    width: 60vw;
    margin: 3vh auto;

}

.ques-container>label{
    font-weight: 400;
    font-size: 24px;
}

input{
    margin: 18px 0px;
    width: 7vw;
    height: 4vh;
}

.ans-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 28px auto;
    width: 40vw;

}

.ans-container>div{
    display: flex;
    align-items: center;

}

.ans-container>div>p{
    color: white;
    font-weight: 700;
    font-size: 19px;
    text-align: left;
}

.input-cont{
    background: #ffffff;
    margin: auto;
    width: 42vw;
    height: 7vh;
    color: black;
}