.ques-container{
    border: 1px solid white;
    margin: 7vh auto;
    border-radius: 4px;
    text-align: center;
    /* border: 3px solid #ffffff; */
    width: 54vw;
    padding: 29px;
    background-color: #03d7ff;
    box-shadow: 0px 0px 12px #67e7ff;
}

.header-ques{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.answers{
    font-size: 26px;
    gap: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ques{
    font-size: 25px;
    margin:  0px;

}

.answers>p{
    background: #ffffff;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
}

.question{
    margin: 8vh 0px;
    font-size: 29px;
}