/* response.css */

.response-container {
    width: 85%;
    margin: 0vh auto;
    padding: 20px;
    text-align: center;
  }

  .response-container>h1{
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    margin: 0vh auto 12vh;
  }
  
  h1, h2 {
    color: #333;
  }

  .low{
    color: green;
  }

  .moderate{
    color: orange;
  }

  .high{
    color: red;
  }
  
  .result-summary {   
     line-height: 1.86;
  }
  
  .result-summary>p {
    font-weight: 700;
    font-size: 2.1em;
  }
  
  .resources {
    padding: 17px;
    margin: 20px auto;
  }
  
  .resources>h2{
    margin: 6vh auto 14vh;
    font-weight: 800;
    color: #0073b0;
    font-size: 39px;
  }

  .resources ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .resources li {
    margin-bottom: 10px;
  }
  
  .card{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 11vh auto;
}

.card-container{
  display: flex;
  align-items: center;
  background-color: white;
  width: 81vw;
  height: 50vh;
  border-radius: 2px;
}

.card-container>img{
    width: 23vw;
}
.title{
    font-size: 39px;
    width: 69%;
    color: #1B98AC;
    margin: 3vh auto;
}

.content{
  font-weight: 400;
  margin: 3vh auto;
  width: 88%;
  font-size: 20px;
}